.section--two {
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
  .heading-1 {
    padding: 0 0 2rem;
    text-align: center;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 7rem;
    @media only screen and (min-width: $bp-large) {
      flex-wrap: nowrap;
      padding-right: 11rem;
    }

    li {
      align-items: center;
      display: grid;
      grid-template-columns: 2fr 3fr;
      p {
        font-family: $font-secondary;
        font-size: 2.4rem;
      }
      // &.rotate-img {
      //   img {
      //     opacity: 0;
      //     rotate: -45deg;
      //     transition: all 1s ease-in-out;
      //   }

      //   &.animated {
      //     img {
      //       opacity: 1;
      //       rotate: 0deg;
      //     }
      //   }
      // }
    }
  }
  .content_blocks {
    img {
      height: auto;
      width: auto;
    }
  }
}
.section--three {
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
  .background-image {
    inset: 0;
    position: absolute;
    z-index: -1;
    img {
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
.section--four {
  align-items: center;
  min-height: 100vh;
  .background--image {
    // transform: translate(-25%, -80%);
    height: 60vh;
    inset: 0;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60vh;
    z-index: -1;
  }
  .spin-me {
    inset: 0;
    position: absolute;
    svg {
      height: 100%;
      width: 100%;
    }
    img {
      height: 100%;
      width: 100%;
    }
  }
  .flask {
    inset: 0;
    left: 50%;
    max-height: 80vh;
    position: absolute;
    transform: translate(-75%, 0);
    img {
      max-height: 100%;
      max-width: 100%;
      transform: rotate(-14deg);
    }
  }
  .heading-3 {
    align-items: center;
    display: flex;
    max-width: 11ch;
  }
  .image--text {
    display: flex;
    justify-content: center;
    position: relative;
  }
  .heading-4 {
    padding-bottom: 3rem;
  }
}

.section--five {
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
  .row {
    text-align: center;
  }
  .heading-4 {
    padding-bottom: 4rem;
  }
  .background--image-high {
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(10%, -35%);
    z-index: -1;
  }
  .background--image-low {
    bottom: 0;
    left: 0;
    position: absolute;
    transform: translate(-40%, 0%);
    z-index: -1;
  }
}

.section--six {
  align-items: center;
  min-height: 100vh;
}
.image--text {
  &-scroll {
    @media only screen and (min-width: $bp-large) {
      padding-right: 11rem;
    }
    p {
      margin-bottom: 26rem;
      //   &:last-of-type {
      //     margin-bottom: 0;
      //   }
    }
    .underscores {
      margin-bottom: 4rem;
      text-transform: uppercase;
    }
    .heading-4 {
      padding-bottom: 2rem;
    }
  }
  &-image {
    position: relative;
    @media only screen and (min-width: $bp-large) {
      padding-right: 11rem;
    }

    .image-holder.sticky-image {
      height: auto;
      margin-bottom: 40vh;
      position: sticky;
      top: 15vh;
      .bird-morph {
        position: relative;
        .overlay {
          position: absolute;
          right: -10rem;
          top: -15rem;
        }
      }
      .main-image {
        position: relative;
        img {
          height: auto;
          inset: 0;
          position: absolute;
        }
        > div {
          opacity: 0;
          &.main-image-1 {
            opacity: 1;
          }
        }
      }
    }
    .overlay {
      opacity: 0;
      position: absolute;
      right: 3rem;
      top: -12rem;
      img {
        position: relative;
        z-index: 3;
      }

      &.overlay-1 {
        opacity: 1;
      }
    }
  }
}
.section--seven {
  align-items: center;
  min-height: 100vh;
  .row {
    text-align: center;
  }
  .heading-5 {
    margin: 0 auto;
    max-width: 20ch;
    padding: 4rem 0;
    text-align: center;
  }
  .background--image {
    inset: 0;

    position: absolute;
    transform: translate(-20%, -20%);
    z-index: -1;
    @media only screen and (min-width: $bp-large) {
      min-width: 165%;
    }
  }
}
.section--eight {
  align-items: center;
  min-height: 100vh;
  .image--box {
    @media only screen and (min-width: $bp-large) {
      display: grid;
      grid-template-columns: 1fr 2.5rem 1fr 2.5rem 1fr 2.5rem 1fr;
    }
    &-outer {
      display: grid;
      grid-template-columns: 4rem 1fr 4rem;
      .content {
        align-items: center;
        border-bottom: 1px solid $color-tertiary;
        display: grid;
        grid-template-rows: 2fr 1fr;
        img {
          max-height: 24rem;
        }
        p {
          align-self: flex-start;
          padding: 2rem 0;
        }
      }
      .spacer {
        display: grid;
        grid-template-rows: 1fr 2fr;
        .top {
          border-bottom: 1px solid $color-tertiary;
        }
        &.left {
          .bottom {
            border-bottom: 1px solid $color-tertiary;
            border-left: 1px solid $color-tertiary;
          }
        }
        &.right {
          .bottom {
            border-bottom: 1px solid $color-tertiary;
            border-right: 1px solid $color-tertiary;
          }
        }
      }
    }
    .filler {
      display: grid;
      grid-template-rows: 1fr 1fr;
      .top {
        border-bottom: 1px solid $color-tertiary;
      }
      &:last-of-type {
        display: none;
      }
    }
  }
}
.section--nine {
  align-items: center;
  min-height: 100vh;
  .heading-5 {
    max-width: 20ch;
  }
  .background--image {
    inset: 0;
    position: absolute;
    transform: translate(-50%, -120%);
    z-index: -1;
  }
  .background--image-map {
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }
  .recipe-slider {
    padding: 5rem 0;
  }
  .recipe {
    background-color: $color-supporting-1;

    @media only screen and (min-width: $bp-large) {
      margin: 0 2.5rem;
      padding: 5rem 8rem;
      width: 110rem !important;
    }
    .col-half {
      height: 100%;
    }
    .image {
      img {
        height: 100%;
        object-fit: cover;
        width: 100%;
      }
    }
    .details {
      .heading-5 {
        padding: 4.5rem 0 2.5rem;
      }
      .ingredients {
        .ingredient--items li {
          color: $color-primary;
          font-size: 1.6rem;
          padding-bottom: 2rem;
        }
      }
      .method {
        .method--items {
          li {
            font-size: 1.6rem;
            list-style-position: outside;
            padding-bottom: 2rem;
            &::marker {
              font-family: $font-header;
              font-size: 7rem;
            }
          }
        }
      }
    }
  }
  .slider--nav {
    display: flex;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, 50%);
    svg {
      cursor: pointer;
      height: auto;
      width: 5.5rem;
      path {
        fill: #b23e25;
      }
    }
    &-previous {
      @media only screen and (min-width: $bp-large) {
        transform: translate(-60rem);
      }
      svg {
        rotate: 180deg;
      }
    }
    &-next {
      @media only screen and (min-width: $bp-large) {
        transform: translate(60rem);
      }
    }
  }
}
.slick-track {
  display: flex !important;
}

.slick-slide {
  height: inherit !important;
}
.background--image-bottle {
  height: 75vh;
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -3;
  img {
    height: 100%;
    width: auto;
  }
  @media only screen and (min-width: $bp-large) {
    transform: translate(-150%, -50%);
  }
  .effects-div {
    backdrop-filter: hue-rotate(45deg);
    inset: 0;
    margin: 22rem 2rem 14rem;
    position: absolute;
  }
}
.age-gate .background--image-main {
  inset: 0;
  position: fixed;
  z-index: -4;
  img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
}
.background--image-main {
  inset: 0;
  position: fixed;
  z-index: -4;
  img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
}
