.section--two {
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
  .heading-1 {
    padding: 0 0 2rem;
    text-align: center;
    max-width: 15ch;
    margin: 0 auto;
    line-height: 1;
    @media only screen and (min-width: $bp-large) {
      max-width: none;
    }
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 3rem;
    @media only screen and (min-width: $bp-large) {
      flex-wrap: nowrap;
      padding-right: 11rem;
    }

    li {
      align-items: center;
      display: grid;
      grid-template-columns: 1fr 3fr;
      @media only screen and (min-width: $bp-large) {
        grid-template-columns: 2fr 3fr;
      }
      p {
        font-family: $font-secondary;
        font-size: 2.4rem;
      }
      // &.rotate-img {
      //   img {
      //     opacity: 0;
      //     rotate: -45deg;
      //     transition: all 1s ease-in-out;
      //   }

      //   &.animated {
      //     img {
      //       opacity: 1;
      //       rotate: 0deg;
      //     }
      //   }
      // }
    }
  }
  .content_blocks {
    margin: 2rem;
    @media only screen and (min-width: $bp-large) {
      margin: 0;
    }
    img {
      height: auto;
      width: auto;
    }
  }
}
.section--three {
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
  text-align: center;
  .background-image {
    grid-column: 1/-1;
    position: relative;
    @media only screen and (min-width: $bp-large) {
      inset: 0;
      position: absolute;
      z-index: -1;
    }
    img {
      height: auto;
      filter: brightness(10.5);
      opacity: 0.3;
      @media only screen and (min-width: $bp-large) {
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
  .heading-1 {
    margin-bottom: 4rem;
    @media only screen and (min-width: $bp-large) {
      margin-bottom: 2rem;
    }
  }
  @media only screen and (min-width: $bp-large) {
    text-align: left;
  }
}
.section--four {
  align-items: center;
  min-height: 100vh;
  overflow-x: hidden;
  text-align: center;
  @media only screen and (min-width: $bp-large) {
    margin: 20rem 0;
    overflow: unset;
    text-align: left;
  }
  .background--image {
    // transform: translate(-25%, -80%);
    height: 100vw;
    inset: 0;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    z-index: -1;
    @media only screen and (min-width: $bp-large) {
      height: 120vh;
      left: 10%;
      top: 60%;
      width: 120vh;
    }
  }
  .spin-me {
    inset: 0;
    position: absolute;
    svg {
      height: 100%;
      width: 100%;
    }
    img {
      height: 100%;
      width: 100%;
    }
  }
  .flask {
    inset: 0;
    left: 50%;
    max-height: 80vh;
    position: absolute;
    transform: translate(-75%, 0);
    img {
      max-height: 100%;
      max-width: 100%;
      transform: rotate(-14deg);
    }
  }
  .heading-3 {
    align-items: center;
    display: flex;
    max-width: 11ch;
  }
  .image--text {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    text-shadow:
      0 0 10px #000000,
      0 0 20px #000000,
      0 0 20px #000000;
  }
  .heading-4 {
    padding-bottom: 3rem;
  }
}
.section--five {
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
  .row {
    text-align: center;
  }
  .heading-4 {
    padding-bottom: 4rem;
  }
  .background--image-high {
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(10%, -35%);
    z-index: -1;
  }
  .background--image-low {
    bottom: 0;
    left: 0;
    position: absolute;
    transform: translate(-40%, 0%);
    z-index: -1;
  }
  .white-line {
    margin: 2rem auto;
  }
}
.section--six {
  align-items: center;
  min-height: 100vh;
  text-align: center;
  @media only screen and (min-width: $bp-large) {
    text-align: left;
  }
}
.image--text {
  &-scroll {
    @media only screen and (min-width: $bp-large) {
      padding-right: 11rem;
    }
    p {
      &:last-of-type {
        margin-bottom: 10rem;
      }
    }
    .underscores {
      margin-bottom: 4rem;
      text-transform: uppercase;
    }
    .heading-4 {
      padding-bottom: 2rem;
    }
  }
  &-image {
    position: relative;
    @media only screen and (min-width: $bp-large) {
      padding-right: 11rem;
    }

    .image-holder.sticky-image {
      height: calc(50vh + 17.5rem);
      position: sticky;
      top: calc(50vh - 17.5rem);
      .bird-morph {
        position: relative;
        .overlay {
          position: absolute;

          @media only screen and (min-width: $bp-large) {
            right: -10rem;
            top: -15rem;
          }
        }
      }
      .main-image {
        position: relative;
        img {
          height: 35rem;
          inset: 0;
          object-fit: cover;
          position: absolute;
          width: 100%;
        }
        > div {
          opacity: 0;
          &.main-image-1 {
            opacity: 1;
          }
        }
      }
    }
    .overlay {
      opacity: 0;
      position: absolute;
      right: 3rem;
      top: -12rem;
      img {
        position: relative;
        z-index: 3;
      }

      &.overlay-1 {
        opacity: 1;
      }
    }
  }
}
.section--seven {
  align-items: center;
  min-height: 100vh;
  .row {
    text-align: center;
  }
  .heading-5 {
    margin: 0 auto;
    max-width: 20ch;
    padding: 4rem 0;
    text-align: center;
  }
  .background--image {
    inset: 0;
    position: absolute;
    transform: translate(-20%, -20%);
    z-index: -1;
    @media only screen and (min-width: $bp-large) {
      min-width: 165%;
    }
  }
}
.section--eight {
  align-items: center;
  min-height: 100vh;
  .image--box {
    @media only screen and (min-width: $bp-large) {
      display: grid;
      grid-template-columns: 1fr 2.5rem 1fr 2.5rem 1fr 2.5rem 1fr;
    }
    &-outer {
      display: grid;
      grid-template-columns: 4rem 1fr 4rem;
      .content {
        align-items: center;
        border-bottom: 1px solid $color-tertiary;
        display: grid;
        grid-template-rows: 2fr 1fr;
        justify-items: center;
        img {
          max-height: 24rem;
        }
        p {
          align-self: flex-start;
          padding: 2rem 0;
          text-align: center;
        }
      }
      .spacer {
        display: grid;
        grid-template-rows: 1fr 2fr;
        .top {
          border-bottom: 1px solid $color-tertiary;
        }
        &.left {
          .bottom {
            border-bottom: 1px solid $color-tertiary;
            border-left: 1px solid $color-tertiary;
          }
        }
        &.right {
          .bottom {
            border-bottom: 1px solid $color-tertiary;
            border-right: 1px solid $color-tertiary;
          }
        }
      }
    }
    .filler {
      display: grid;
      grid-template-rows: 1fr 1fr;
      .top {
        border-bottom: 1px solid $color-tertiary;
      }
      &:last-of-type {
        display: none;
      }
    }
  }
}
.section--nine {
  align-items: center;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 0) 100%);
  min-height: 100vh;
  .heading-5 {
    max-width: 20ch;
  }
  .row.extended {
    grid-column: full-start / full-end !important;
    @media only screen and (min-width: $bp-large) {
      // grid-column: center-start / center-end !important;
    }
  }
  .background--image {
    inset: 0;
    left: -11rem;
    position: absolute;
    z-index: -1;
    svg {
      max-width: 100%;
      @media only screen and (min-width: $bp-large) {
      }
    }
  }
  .recipe-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 50vh;

    @media only screen and (min-width: $bp-large) {
      padding-left: 22rem;
    }
  }
  .background--image-map {
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }
  #rotate-ring {
    transform-origin: center;
    transition: transform 0.5s ease-in-out; /* Smooth transition */
  }

  #rotate-ring:hover {
    animation: rotateAnimation 1.5s ease-in-out; /* Adjust the duration to suit */
  }

  @keyframes rotateAnimation {
    0% {
      transform: rotate(0deg);
    }
    33% {
      transform: rotate(-20deg);
    }
    66% {
      transform: rotate(30deg); /* Rotated 10deg more */
    }
    100% {
      transform: rotate(60deg); /* Rotated 30deg more */
    }
  }
  .recipe-slider {
    padding: 5rem 0;
    .slick-slide {
      &.slick-active {
        #slider-one {
          opacity: 1;
          rotate: 0deg;
        }
        #slider-two {
          opacity: 1;
          rotate: 0deg;
        }
        #slider-three,
        #slider-four,
        #slider-five {
          opacity: 1;
        }
      }
    }
  }
  .recipe {
    background-color: $color-supporting-1;
    height: 100%;
    position: relative;
    @media only screen and (min-width: $bp-large) {
      margin: 0 2.5rem;
      padding: 5rem 5rem 5rem 8rem;
      width: 110rem !important;
    }
    .slider-text {
      left: 2rem;
      position: absolute;
      top: 2rem;
    }
    .col-half {
      height: 100%;
      .image {
        padding: 1.5rem;
        position: relative;
        @media only screen and (min-width: $bp-large) {
          padding: 0;
        }
        svg {
          display: none;
          @media only screen and (min-width: $bp-large) {
            display: flex;
            position: absolute;
          }
          &.slider-three {
            bottom: 0;
            left: -8rem;
            rotate: -45deg;
          }
          &.slider-four {
            right: -20rem;
            rotate: 45deg;
            top: -5rem;
            z-index: 9;
            path {
              fill: #342432;
            }
          }
          &.slider-five {
            bottom: 0;
            right: -15rem;
            rotate: 180deg;
            z-index: 9;
            path {
              fill: #342432;
            }
          }
          &.slider-three,
          &.slider-four,
          &.slider-five {
            opacity: 0;
            transition: opacity 0.25s ease;
            transition-delay: 0.25s; /* 1 second delay */
          }
          &.slider-four {
            transition-delay: 0.5s;
          }
          &.slider-five {
            transition-delay: 0.75s;
          }
        }
      }
    }
    .image {
      img {
        height: 100%;
        object-fit: cover;
        position: relative;
        width: 100%;
        z-index: 8;
      }
    }
    .details {
      padding: 0 1.5rem;
      position: relative;
      z-index: 10;
      svg {
        // display: none;
        position: absolute;
        @media only screen and (min-width: $bp-large) {
          display: flex;
          position: absolute;
        }
        &.slider-one {
          opacity: 0;
          right: 0;
          rotate: 15deg;
          top: 8rem;
          transform-origin: bottom right;
          transition:
            rotate 1s ease,
            opacity 1s ease;
          transition-delay: 1s; /* 1 second delay */
        }
      }
      .heading-5 {
        padding: 4.5rem 4rem 2.5rem 4rem;
        @media only screen and (min-width: $bp-large) {
          padding: 4.5rem 0 2.5rem;
        }
      }
      .heading-4 {
        padding: 0 4rem;
        @media only screen and (min-width: $bp-large) {
          padding: 0;
        }
      }
      .ingredients {
        padding: 0 4rem;
        position: relative;
        @media only screen and (min-width: $bp-large) {
          padding: 0;
        }
        .ingredient--items li {
          color: $color-primary;
          font-size: 1.6rem;
          padding-bottom: 1rem;
        }
        svg {
          position: absolute;
          &.slider-two {
            bottom: -5rem;
            opacity: 0;
            right: 8rem;
            rotate: -15deg;
            transform-origin: bottom right;
            transition:
              rotate 1s ease,
              opacity 1s ease;
            transition-delay: 1s; /* 1 second delay */
          }
        }
      }
      .method {
        .method--items {
          @media only screen and (min-width: $bp-large) {
            padding-left: 0;
          }
          li {
            font-size: 1.6rem;
            list-style-position: outside;
            padding-bottom: 0rem;
            &::marker {
              font-family: $font-header;
              font-size: 5rem;
              line-height: 1;
            }
          }
        }
      }
    }
  }
  .slick-dots {
    border-bottom: 3px solid $color-primary;
    display: flex;
    justify-content: space-between;
    margin: 2rem 1.5rem;
    li {
      position: relative;
      &::after {
        background: url(../../img/round.png);
        background-color: $color-black;
        background-repeat: no-repeat;
        background-size: contain;
        content: "";
        height: 2.5rem;
        left: -0.5rem;
        position: absolute;
        top: 0.5rem;
        width: 2.5rem;
      }
      &.slick-active {
        &::after {
          background: url(../../img/roundactive.png);
        }
      }
    }
    button {
      background: transparent;
      font-size: 0;
    }
  }
  .slick-slide > div {
    height: 100%;
  }
  .slider--nav {
    display: flex;
    justify-content: space-between;
    left: 50%;
    padding: 0 1.5rem;
    position: absolute;
    top: -5rem;
    transform: translate(-50%, 0);
    width: 100%;
    @media only screen and (min-width: $bp-large) {
      top: 50%;
      transform: translate(-50%, 50%);
      width: unset;
    }
    svg {
      cursor: pointer;
      height: auto;
      width: 5.5rem;
      path {
        fill: #b23e25;
      }
      &:hover {
        #rotate-ring {
          animation: rotateAnimation 0.75s ease-in-out; /* Adjust the duration to suit */
          transform-origin: center;
        }

        @keyframes rotateAnimation {
          0% {
            transform: rotate(0deg);
          }
          30% {
            transform: rotate(-30deg);
          }
          57% {
            transform: rotate(5deg); /* Rotated 10deg more */
          }
          81% {
            transform: rotate(-17deg); /* Rotated 10deg more */
          }
          100% {
            transform: rotate(0deg); /* Rotated 30deg more */
          }
        }
      }
    }
    &-previous {
      @media only screen and (min-width: $bp-largest) {
        transform: translate(-60rem);
      }
      svg {
        rotate: 180deg;
      }
    }
    &-next {
      @media only screen and (min-width: $bp-largest) {
        transform: translate(60rem);
      }
    }
  }
}
.slick-track {
  display: flex !important;
}

.slick-slide {
  height: inherit !important;
}
.background--image-bottle {
  height: 90vh;
  left: 0;
  position: fixed;
  top: 5vh;
  width: 100vw;
  z-index: -3;
  img {
    height: 100%;
    margin: 0 auto;

    width: auto;
    @media only screen and (min-width: $bp-large) {
      transform: translateX(-33rem);
    }
  }

  .effects-div {
    backdrop-filter: hue-rotate(45deg);
    inset: 0;
    margin: 22rem 2rem 14rem;
    position: absolute;
  }
}
.age-gate .background--image-main {
  inset: 0;
  position: fixed;
  z-index: -4;
  img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
}
.background--image-main {
  inset: 0;
  position: fixed;
  z-index: -4;
  img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
}
