@keyframes colorChange {
  0% {
    fill: #3b2a38;
  }
  50% {
    fill: #fff;
    filter: drop-shadow(0 0 10px orange);
  }
  100% {
    fill: #3b2a38;
  }
}

.st0.rune-one,
.st0.rune-two,
.st0.rune-three,
.st0.rune-four,
.st0.rune-five,
.st0.rune-six,
.st0.rune-seven,
.st0.rune-eight {
  animation: colorChange 16s infinite;
}

.st0.rune-one {
  animation-delay: 0s;
}

.st0.rune-two {
  animation-delay: 4s;
}

.st0.rune-three {
  animation-delay: 8s;
}

.st0.rune-four {
  animation-delay: 12s;
}

.st0.rune-five {
  animation-delay: 16s;
}

.st0.rune-six {
  animation-delay: 20s;
}

.st0.rune-seven {
  animation-delay: 24s;
}

.st0.rune-eight {
  animation-delay: 28s;
}
