/*
 * [Modified] Modern CSS Reset
 * @link https://github.com/hankchizljaw/modern-css-reset
*/

/* Box sizing rules */
*,
*::before,
*::after {
  // background-color: rgba(red, 0.2);
  box-sizing: border-box;
  // outline: 1px solid red;
}

:root {
  // --red: $red;
  // --dblue: $dblue;
  // --lblue: $lblue;
  // --green: $green;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

// html,
// body {
//   overflow-x: hidden;
// }

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  background-color: $background-color;
  font-family: $font-primary;
  line-height: 1.5;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}
// .page-layout {
//   overflow: hidden;
// }
/* Make images easier to work with */
img {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

ul[class] {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul:not([class]) {
  font-size: 1.6rem;
  padding-left: 1rem;
  li {
    padding-bottom: 0.5rem;
  }
  li::marker {
    color: var(--default-color);
    content: '- ';
  }
}

a[class] {
  text-decoration: none;
}
a:not([class]) {
  color: $color-primary;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
    transition-duration: 0.01ms !important;
  }

  html {
    scroll-behavior: initial;
  }
}
.skip-to-content-link {
  align-items: center;
  background: $color-primary;
  color: $color-black !important;
  display: flex;
  font-weight: bold;
  height: 3rem;
  left: 50%;
  padding: 1rem;
  position: absolute;
  text-transform: uppercase;
  transform: translate(-50%, -10rem);
  transition: transform 0.3s;
  z-index: 100;
}

.skip-to-content-link:focus {
  transform: translate(-50%, 1rem);
}
