/*
 * [Modified] Modern CSS Reset
 * @link https://github.com/hankchizljaw/modern-css-reset
*/

/* Box sizing rules */
*,
*::before,
*::after {
  // background-color: rgba(red, 0.2);
  box-sizing: border-box;
  // outline: 1px solid red;
}

:root {
  // --red: $red;
  // --dblue: $dblue;
  // --lblue: $lblue;
  // --green: $green;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

// html,
// body {
//   overflow-x: hidden;
// }

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  background-color: $background-color;
  color: $color-white;
  font-family: $font-primary;
  line-height: 1.5;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  $start-grad: 0%;
  $end-grad: 100%;
}
// .page-layout {
//   overflow: hidden;
// }
/* Make images easier to work with */
img {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  border: transparent;
  border-radius: 0 !important;
  font: inherit;
}

ul[class] {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul:not([class]) {
  font-size: 1.6rem;
  padding-left: 1rem;
  li {
    padding-bottom: 0.5rem;
  }
  li::marker {
    color: var(--default-color);
    content: "- ";
  }
}

a[class] {
  text-decoration: none;
}
a:not([class]) {
  color: $color-primary;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
    transition-duration: 0.01ms !important;
  }

  html {
    scroll-behavior: initial;
  }
}
.skip-to-content-link {
  align-items: center;
  background: $color-primary;
  color: $color-black !important;
  display: flex;
  font-weight: bold;
  height: 3rem;
  left: 50%;
  padding: 1rem;
  position: absolute;
  text-transform: uppercase;
  transform: translate(-50%, -10rem);
  transition: transform 0.3s;
  z-index: 100;
}

.skip-to-content-link:focus {
  transform: translate(-50%, 1rem);
}
.dark-gradient {
  background: rgb(20, 0, 17);
  background: linear-gradient(0deg, rgba(41, 7, 26, 1) var(--start-grad), rgba(20, 0, 17, 0) var(--end-grad));
  background-attachment: fixed;
  content: "";
  height: 100%;
  inset: 0;
  position: fixed;
  width: 100%;
  // z-index: -2;
}
.sunburst {
  background: rgb(209, 124, 24);
  background: radial-gradient(circle, rgba(209, 124, 24, 1) 0%, rgba(209, 124, 24, 0) 40%);
  height: 30vw;
  position: fixed;
  right: 10rem;
  top: -38rem;
  width: 30vw;
  z-index: -1;
}
#page {
  opacity: 0;
}
body.age-verified #page {
  opacity: 1;
}
.left-glow {
  background: rgb(13 2 20);
  background: linear-gradient(90deg, rgb(13 2 20) 0, rgba(209, 124, 24, 0) 100%);
  inset: 0;
  position: fixed;
  width: 20rem;
}
section {
  // overflow-x: hidden;
  // @media only screen and (min-width: $bp-large) {
  //   overflow-x: unset;
  // }
}
