body {
  background-color: $page-border-color;
}

.site {
  //background-color: $background-color;
  background-color: transparent;
  overflow: clip;
  position: relative;

  &::before {
    background-image: var(--background-image);
    background-position: top center;
    background-repeat: repeat;
    content: '';
    display: block;
    inset: 0;
    opacity: var(--background-image-opacity);
    pointer-events: none;
    position: absolute;
    z-index: 0;
  }
}

section {
  // sass-lint:disable-block indentation shorthand-values
  background-color: var(--background-color);
  margin: var(--margin_t, 0) var(--margin_r, 0) var(--margin_b, 4rem)
    var(--margin_l, 0);
  padding: var(--padding_t, 4rem) var(--padding_r, 0) var(--padding_b, 4rem)
    var(--padding_l, 0);
  scroll-margin-top: 10rem;
}

.fade-target {
  img,
  video {
    &.fade {
      opacity: 1;
      transition: all 0.5s ease-in-out;
    }
  }

  &:hover {
    img,
    video {
      &.fade {
        opacity: 1;
      }
    }
  }
}

:root {
  @include css-var(--grid-gap, $gutter-width);
  @include css-var(--container-margin, $container-margin);

  @include respond(tab-port) {
    @include css-var(--grid-gap, 2rem);
    @include css-var(--container-margin, 2rem);
  }

  @include respond(phone) {
    @include css-var(--grid-gap, 1rem);
    @include css-var(--container-margin, 1rem);
  }

  @include css-var(--background-color, transparent);
}
