footer {
  align-content: flex-end;
  min-height: 100vh;
  position: relative;
  .logo {
    text-align: center;
    svg {
    }
  }
  .heading-3 {
    padding-top: 3rem;
    text-align: center;
  }

  .address {
    grid-gap: 0;
    border-bottom: 1px solid $color-primary;
    border-top: 1px solid $color-primary;
    margin-top: 2rem;
    &--details,
    &--contact {
      padding: 4rem 6rem;
    }
    &--details {
      border-right: 1px solid $color-primary;
    }
    &--contact {
      li {
        margin-bottom: 1.2rem;
      }
      a {
        color: $color-white;
        font-size: 1.6rem;
      }
    }
  }
  .socials {
    .social-links {
      display: flex;
      justify-content: center;
      grid-gap: 4rem;
      padding: 3rem 0;
      li {
        fill: $color-white;
        font-size: 2.5rem;
        a {
          color: $color-white;
        }
      }
    }
  }

  .silverless {
    text-align: center;
    .silverless-logo {
      height: auto;
      width: 9.5rem;
    }

    .silverless {
      opacity: 1;
      transition: opacity 0.3s ease-in-out;

      path {
        fill: $color-white;
      }
    }

    .created {
      // sass-lint:disable-block indentation
      opacity: 0;
      transform: translateY(50px);
      transition:
        0.3s transform ease,
        0.6s opacity ease;

      path {
        fill: $color-white;
      }
    }

    &:hover {
      cursor: pointer;

      .created {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
  .copyright {
    font-size: 1.2rem;
    padding: 2rem 0 7.5rem;
    text-align: center;
    .button--text {
      border-left: 1px solid $color-white;
      color: $color-white;
      padding: 0 2rem;
      &:first-of-type {
        margin-left: 2rem;
      }
    }
  }
  .background--image-footer {
    inset: 0;
    position: absolute;
    img {
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }
}
