/*=====MASTER GRID RULES=====*/

.container {
  display: grid;
  // grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  grid-template-columns:
    [full-start] minmax(1.5rem, 1fr)
    [center-start] repeat(12, [col-start] minmax(1rem, 11rem) [col-end])
    [center-end] minmax(1.5rem, 1fr)
    [full-end];
}
.inner-container {
  display: grid;
  grid-template-columns:
    [center-start] repeat(12, [col-start] minmax(1px, 11rem) [col-end])
    [center-end];
}
.row {
  grid-column: center-start / center-end;

  &.col-2 {
    grid-column: col-start 6 / col-end 7;
    @media only screen and (max-width: $bp-small) {
      grid-column: center-start / center-end !important;
    }
  }
  &.col-4 {
    grid-column: col-start 5 / col-end 8;
    @media only screen and (max-width: $bp-small) {
      grid-column: center-start / center-end !important;
    }
  }
  &.col-6 {
    grid-column: col-start 4 / col-end 9;
    @media only screen and (max-width: $bp-small) {
      grid-column: center-start / center-end !important;
    }
  }
  &.col-8 {
    grid-column: col-start 3 / col-end 10;
    @media only screen and (max-width: $bp-small) {
      grid-column: center-start / center-end !important;
    }
  }
  &.col-10,
  &.col-12.alternate .inner-container .row {
    grid-column: col-start 2 / col-end 11;
    @media only screen and (max-width: $bp-small) {
      grid-column: center-start / center-end !important;
    }
  }
  &.extended {
    grid-column: full-start / full-end;
    @media only screen and (max-width: $bp-small) {
      grid-column: center-start / center-end !important;
    }
  }
  &__extended {
    grid-column: full-start / full-end;
  }
  &.mobile-full {
    grid-column: full-start / full-end;
    @media only screen and (min-width: $bp-large) {
      grid-column: center-start / center-end;
    }
  }
  &.break-right {
    grid-column: center-start / full-end;
    @media only screen and (max-width: $bp-small) {
      grid-column: center-start / center-end !important;
    }
  }
  &.break-left {
    grid-column: full-start / center-end;
    @media only screen and (max-width: $bp-small) {
      grid-column: center-start / center-end !important;
    }
  }
  .spacer {
    &.small {
      padding: 3rem;
    }
    &.medium {
      padding: 2.5rem;
      @media only screen and (min-width: $bp-large) {
        padding: 5rem;
      }
    }
    &.large {
      padding: 8rem;
    }
    &.massive {
      padding: 3rem;
      @media only screen and (min-width: $bp-large) {
        padding: 12rem;
      }
    }
  }
  &.flex-between {
    align-items: center;
    display: flex;
    grid-column: 2/-1;
    justify-content: space-between;
    @media only screen and (min-width: $bp-large) {
      grid-column: center-start/center-end;
    }
  }
}
